{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        @media only screen and (min-width: 768px) {
            .header-bg {
              min-height: 394px;
            }
          }
          @media only screen and (max-width: 767px) {
            .header-bg {
              min-height: 150px;
            }
          }
    </style>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary "  >
        <div class="d-flex flex-column justify-content-center align-items-center  text-center header-bg" >
            <h2 data-aos="fade-up" class="font-weight-semi-bold  mb-3">
                {%if not category_id%}
                 Our Aesthetic Collection
                {%else%}
                {{category_obj.name}}
                {%endif%}

            </h2>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0"><a href="/">Shop</a></p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <div class="col-lg-12 col-md-12">
            <div class="row pb-3">
                {%for product in products%}
                <div class="col-lg-4 col-md-6 col-sm-12">

                    <div class="card product-item border-0  mx-4 my-3 " >
                        <div class="card-body border-left border-right border-top text-center  d-flex flex-column align-items-around justify-content-center pb-0" style="height:350px;">
                            <a href="{%url 'detail' category_id=product.category.id product_id=product.id  %}" target="_blank">
                                <div class="product-img position-relative overflow-hidden bg-transparent  p-0">
                                    <img class="img-fluid w-100" src="{{product.image.url}}" alt="" style="height:260px; object-fit: contain; width:100%;">
                                </div>
                            </a>
                            <h6 class="text-truncate mt-3">
                                {{product.name}}
                            </h6>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'detail' category_id=product.category.id product_id=product.id  %}" target="_blank" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i>View Detail
                            </a>
                            <form action="/add-to-wishlist" method="POST" class="wishlist-form-{{product.id}}">
                                {%csrf_token%}
                                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">     
                                <input type="hidden" name="product" value="{{ product.id }}">     
                                <button type="submit" class="btn btn-sm text-dark add-to-cart-btn p-0" id="wishlist-btn-{{product.id}}">
                                    <i class="far fa-heart  text-primary mr-1" id="heart-icon-{{product.id}}"></i> Add To Wishlist
                                </button>
                            </form>
                            <form action="/remove-item" method="POST" class="wishlist-form-for-removing-{{product.id}}">
                                {%csrf_token%}
                                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">     
                                <input type="hidden" name="product" value="{{ product.id }}">     
                                <button type="submit" class="btn btn-sm text-dark add-to-cart-btn p-0" id="wishlist-btn-{{product.id}}">
                                    <i class="fas fa-heart text-primary mr-1" id="heart-icon-{{product.id}}"></i> Item Wishlisted
                                </button>
                            </form>   
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<!-- Shop End -->
{%for product in products%}
<script>
    {%if product.in_wishlist%}
        document.querySelector(".wishlist-form-for-removing-{{product.id}}").style.display = "block";
        document.querySelector(".wishlist-form-{{product.id}}").style.display = "none";
    {%else%}
        document.querySelector(".wishlist-form-for-removing-{{product.id}}").style.display = "none";
        document.querySelector(".wishlist-form-{{product.id}}").style.display = "block";
    {% endif %}
</script>
{%endfor%}
{%for product in products%}

<script>
    $(document).ready(function() {
        $('.wishlist-form-{{product.id}}').on('submit', function(e) {
            e.preventDefault(); // prevent form from submitting as usual
    
            var form = $(this);
            var url = form.attr('action'); // get form action
            var data = form.serialize(); // get form data as an object
            // make ajax request to add product to wishlist
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(response){
                    if(response.status=='already_added') {

                    }
                    else if(response.status=='added') {
                        var badgeValue = parseInt($('.badge').text().split(":")[1]);
                        badgeValue += 1;
                        $('.badge').html("Wishlist: " + badgeValue);

                        document.querySelector(".wishlist-form-for-removing-{{product.id}}").style.display = "block";
                        document.querySelector(".wishlist-form-{{product.id}}").style.display = "none";
                    }
                    else{
                        $(document).ready(function() {
                            $('#loginModal').modal('show');
                        });
                    }
                    window.location.href = next;
                },
            });
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('.wishlist-form-for-removing-{{product.id}}').on('submit', function(e) {
            e.preventDefault(); // prevent form from submitting as usual
            var form = $(this);
            var url = form.attr('action'); // get form action
            var data = form.serialize(); 
    
            // make ajax request to remove product from wishlist
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function(response){
                    document.querySelector(".wishlist-form-for-removing-{{product.id}}").style.display = "none";
                    document.querySelector(".wishlist-form-{{product.id}}").style.display = "block";
                    var badgeValue = parseInt($('.badge').text().split(":")[1]);
                    badgeValue -= 1;
                    $('.badge').html("Wishlist: " + badgeValue);

                },
            });
        });
    });

    </script>

{%endfor%}

{% endblock content%}

{% block category_nav %}
<nav class="collapse show position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                
{% endblock category_nav %}