{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .fa-2x {
        font-size: 2em;
    }
</style>

    <!-- Shop Detail Start -->
    <div class="container-fluid pt-lg-5  pt-md-2 pb-5">
        <div class="row px-lg-5  ">
            <div class="col-lg-4 pb-lg-5 pb-md-2">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img style="vertical-align: middle;"  class="w-100 h-100"  src="{{product_obj.image.url}}" alt="Image" >
                        </div>
                        <div class="carousel-item">
                            <img style="vertical-align: middle;" class="w-100 h-100"  src="{{product_obj.image1.url}}" alt="Image" >
                        </div>
                        <div class="carousel-item">
                            <img style="vertical-align: middle;" class="w-100 h-100"  src="{{product_obj.image2.url}}" alt="Image" >
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"  style="color:#000000;"> </i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"  style="color:#000000;"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-8 py-lg-0 py-5">
                <h3 class="font-weight-semi-bold">{{product_obj.name}}</h3>
                <p class="mb-3 text-justify" >{{product_obj.description}}</p>
                <p class="text-dark font-weight-medium mb-2 ">Inquire For Other Color Options:</p>
                <div class="d-flex mb-4">
                    <div id="add-to-cart-form" class="container-fluid">

                        <div class="row">
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #8B0000"></i>Maroon
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #4169E1"></i>Blue
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #E6E6FA"></i>Lavender
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #F5F5DC"></i>Beige
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #008080"></i>Teal
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #FF7F50"></i>Coral
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #40E0D0"></i>Turquoise
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #FFDAB9"></i>Peach
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #DDA0DD"></i>Plum
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #FFDB58"></i>Yellow
                            </div>
                            <div class="col-6 col-md-4 ">
                                <i class="fa fa-circle mr-1" style="color: #556B2F"></i>Olive Green
                            </div>
                            
                            <div class="col-6 col-md-3 ">
                                <i class="fa fa-circle mr-1" style="color: #98FB98"></i>Mint Green
                            </div>
                        </div>
                    </div>
                </div>
                
 
                <div class="d-flex align-items-center mb-4 pt-2">
                    <a href="https://wa.me/{{phone_no}}?text=Hello,+I+am+interested+in+knowing+more+about+your+product+on+URL:+{{request.build_absolute_uri}} " target="_blank" class="btn btn-outline-primary  mr-1 px-3 d-flex align-items-center w-lg-25 w-md-15 align-self-center">
                        <i class="fab fa-whatsapp fa-2x ml-1 text-lg"></i>
                        <span class="ml-1 text-lg">Inquire On Whatsapp</span>
                    </a>
                        <form action="/add-to-wishlist" method="POST" class="w-lg-25 w-md-50 align-self-center detail-wishlist-form-{{product_obj.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
                            <input type="hidden" name="product" value="{{ product_obj.id }}">
                            <button type="submit" class="btn btn-primary  ml-1 px-3 d-flex align-items-center w-lg-25 w-md-50 align-self-center">
                                <i style="color:#444444" class="far fa-heart fa-2x ml-1 text-lg"></i>
                                <span class="ml-2 text-lg">Add To Wishlist</span>
                            </button>
                        </form>
                        <form action="/remove-item" method="POST" class="w-lg-25 w-md-50 align-self-center detail-wishlist-form-for-removing-{{product_obj.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
                            <input type="hidden" name="product" value="{{ product_obj.id }}">
                            <button type="submit" class="btn btn-primary  ml-1 px-3 d-flex align-items-center w-lg-25 w-md-50 align-self-center">
                                <i style="color:#444444" class="fas fa-heart fa-2x ml-1 text-lg"></i>
                                <span class="ml-2 text-lg">Item Wishlisted</span>
                            </button>
                        </form>
                </div>
                
                
                <div class="d-flex pt-0 pb-lg-5 pb-1">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="https://www.addtoany.com/share" target="_blank"></a>
                            <a class="a2a_button_whatsapp" ></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_pinterest"></a>
                        </div>  
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-lg-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Information</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active text-justify" id="tab-pane-1">
                        <h4 class="mb-lg-3 pt-2" >Product Description</h4>
                        <p>{{product_obj.category.description|linebreaks}}</p>
                    </div>
                    <div class="tab-pane fade text-justify" id="tab-pane-2">
                        <h4 class="mb-lg-3 pt-2">Additional Information</h4>
                        <p>{{product_obj.description}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Products Start -->
    <div class="container-fluid pb-5">
        <h2 class="text-center mb-4">Similar Products</h2>
        <div class="row">
            <div class="col-12 col-md-11 mx-auto">
                <div class="related-carousel owl-carousel owl-theme">
                    {% for product in products %}
                    <div class="card product-card">
                        <a href="{%url 'detail' category_id=product.category.id product_id=product.id  %}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="{{product.name}}" style="object-fit:cover; height:300px;">
                        </a>
                        <div class="card-body text-center">
                            <h6 class="card-title">{{product.name}}</h6>
                            <div class="d-flex justify-content-center">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- Products End here -->

    <script>
        {%if product_obj.in_wishlist%}
            document.querySelector(".detail-wishlist-form-for-removing-{{product_obj.id}}").style.display = "block";
            document.querySelector(".detail-wishlist-form-{{product_obj.id}}").style.display = "none";
        {%else%}
            document.querySelector(".detail-wishlist-form-for-removing-{{product_obj.id}}").style.display = "none";
            document.querySelector(".detail-wishlist-form-{{product_obj.id}}").style.display = "block";
        {% endif %}
    </script>


{% endblock content%}

{% block category_nav %}
<nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                
{% endblock category_nav %}