<!DOCTYPE html>
<html>
<head>
  <title>Welcome to our Saree Store</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

</head>
<body>

  <h1 style="text-align: center; font-size: 36px; color: #ba6a62;">Welcome to our Saree Store!</h1>
<p style="text-align: center; font-size: 18px;">Thanks for signing up! We're excited to have you as a member of our community.</p>

<div style="display: flex; justify-content: center; align-items: center;" >
  <img src="https://sethsarees.pythonanywhere.com/static/store/banarasi.jpeg" alt="Saree" style="max-width: 100%;">
</div>

<div style="text-align: center;">
  <p style="font-size: 18px;">We offer a wide range of banarasi and silk sarees for all occasions. You can schedule a video call with one of our reps through our website, visit our store in person or create a wishlist on our website to find the perfect sarees. If you need assistance, you can call us and one of our reps will be happy to help you out.</p>
  <p style="font-size: 18px;">Our store also provides a custom color and border feature for our sarees.</p>
</div>

<div style="text-align: center;">
  <a href="https://sethsarees.pythonanywhere.com" style="font-size: 18px; padding: 12px 24px; background-color: #ba6a62; color: white; text-decoration: none;">Explore our store</a>
</div>

</body>
</html>
